.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 4px;
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link {
  text-decoration: none;
}
.home-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  color: var(--dl-color-gray-900);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #642598;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-text05 {
  top: 100px;
  left: 500px;
  position: absolute;
  font-size: 45px;
  text-align: center;
}
.home-notes {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-second {
  width: 100%;
  height: 381px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 350px;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-header {
  height: 286px;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.home-register1 {
  text-decoration: none;
  background-color: #3f3977;
}
.home-icon10 {
  width: 16px;
  height: 16px;
}
.home-image1 {
  width: 472px;
  height: 355px;
}
.home-quote {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: flex-start;
  background-color: #AA82FF;
}
.home-text12 {
  font-size: 20px;
  text-align: justify;
}
.home-schedule {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 183px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: 5px;
  justify-content: center;
  background-color: #bfaee1;
}
.home-content1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 135px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: #cab5ef;
}
.home-header1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1046px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: rgb(255, 255, 255);
  width: 234px;
  height: 60px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.home-caption {
  color: rgb(255, 255, 255);
  right: -4px;
  bottom: -68px;
  position: absolute;
  font-size: 18px;
  text-align: justify;
  line-height: 27px;
}
.home-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.home-lists {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-list {
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-element {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-main1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-time {
  font-size: 15px;
  letter-spacing: 2%;
}
.home-title01 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2%;
}
.home-author {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon12 {
  width: 40px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-details {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-name {
  font-style: normal;
  font-weight: 600;
}
.home-point {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}
.home-element1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-main2 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-time1 {
  font-size: 15px;
  letter-spacing: 2%;
}
.home-title02 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2%;
}
.home-author1 {
  gap: var(--dl-space-space-unit);
  display: none;
  align-items: center;
  flex-direction: row;
}
.home-icon13 {
  width: 40px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-details01 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-name1 {
  width: 100%;
  font-style: normal;
  font-weight: 600;
}
.home-point1 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}
.home-caption2 {
  width: 100%;
}
.home-element2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-main3 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-time2 {
  font-size: 15px;
  letter-spacing: 2%;
}
.home-title03 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2%;
}
.home-author2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon14 {
  width: 40px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-details02 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-name2 {
  font-style: normal;
  font-weight: 600;
}
.home-point2 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}
.home-list1 {
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-element3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-main4 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-time3 {
  font-size: 15px;
  letter-spacing: 2%;
}
.home-title04 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2%;
}
.home-author3 {
  gap: var(--dl-space-space-unit);
  display: none;
  align-items: center;
  flex-direction: row;
}
.home-icon15 {
  width: 40px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-details03 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-name3 {
  width: 100%;
  font-style: normal;
  font-weight: 600;
}
.home-point3 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}
.home-caption4 {
  width: 100%;
}
.home-element4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-main5 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-time4 {
  font-size: 15px;
  letter-spacing: 2%;
}
.home-title05 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2%;
}
.home-author4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon16 {
  width: 40px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-details04 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-name4 {
  font-style: normal;
  font-weight: 600;
}
.home-point4 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}
.home-element5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-main6 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-time5 {
  font-size: 15px;
  letter-spacing: 2%;
}
.home-title06 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2%;
}
.home-author5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon17 {
  width: 40px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-details05 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-name5 {
  font-style: normal;
  font-weight: 600;
}
.home-point5 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}
.home-element6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-main7 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-time6 {
  font-size: 15px;
  letter-spacing: 2%;
}
.home-title07 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2%;
}
.home-author6 {
  gap: var(--dl-space-space-unit);
  display: none;
  align-items: center;
  flex-direction: row;
}
.home-icon18 {
  width: 40px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-details06 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-name6 {
  font-style: normal;
  font-weight: 600;
}
.home-point6 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}
.home-container02 {
  display: contents;
}
.home-why {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 366px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 74px;
}
.home-brands {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-item {
  gap: var(--dl-space-space-threeunits);
  height: 314px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image2 {
  left: 94px;
  width: 117px;
  bottom: -14px;
  height: 124px;
  position: absolute;
  object-fit: cover;
}
.home-details07 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title08 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-description {
  font-size: 18px;
  line-height: 27px;
}
.home-item1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image3 {
  left: 94px;
  width: 107px;
  bottom: -184px;
  height: 114px;
  position: absolute;
  object-fit: cover;
}
.home-details08 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title09 {
  width: 303px;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-description1 {
  font-size: 18px;
  line-height: 27px;
}
.home-item2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image4 {
  left: 96px;
  width: 95px;
  bottom: -163px;
  height: 111px;
  position: absolute;
  object-fit: cover;
}
.home-details09 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 164px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title10 {
  width: 317px;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-description2 {
  font-size: 18px;
  line-height: 27px;
}
.home-black {
  gap: 120px;
  width: 100%;
  height: 909px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #987878;
}
.home-quotes {
  width: 100%;
  height: 253px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-row1 {
  width: 100%;
  height: 398px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image5 {
  top: 78px;
  right: -54px;
  width: 594px;
  height: 367px;
  position: absolute;
  object-fit: cover;
}
.home-row2 {
  width: 398px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image6 {
  top: -94px;
  left: -30px;
  width: 441px;
  height: 343px;
  position: absolute;
  object-fit: cover;
}
.home-more {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 344px;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  margin-bottom: 251px;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-accordions {
  gap: var(--dl-space-space-fourunits);
  color: white;
  width: 100%;
  height: 528px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-accordion {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-items {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-element7 {
  align-items: flex-start;
}
.home-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1002px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header2 {
  font-size: 24px;
}
.home-description3 {
  font-size: 18px;
  max-width: 800px;
  text-align: justify;
  line-height: 27px;
}
.home-icon-container {
  position: relative;
  padding-top: var(--dl-space-space-halfunit);
}
.home-icon19 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.home-element8 {
  align-items: flex-start;
}
.home-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header3 {
  font-size: 24px;
}
.home-description4 {
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.home-icon-container1 {
  padding-top: var(--dl-space-space-halfunit);
}
.home-icon21 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.home-container04 {
  display: contents;
}
.home-container06 {
  display: contents;
}
.home-container08 {
  display: contents;
}
.home-footer {
  width: 100%;
  height: 211px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.home-image7 {
  top: -50px;
  left: 6px;
  height: 2rem;
  position: absolute;
  object-fit: cover;
}
.home-link2 {
  top: 73px;
  right: 100px;
  position: absolute;
  text-decoration: none;
}
.home-link3 {
  top: 25px;
  right: 98px;
  position: absolute;
  text-decoration: none;
}
.home-text38 {
  right: 24px;
  bottom: 19px;
  position: absolute;
  text-align: center;
}
@media(max-width: 991px) {
  .home-second {
    flex-direction: column;
  }
  .home-content {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-point {
    margin-top: 4px;
  }
  .home-caption1 {
    font-size: 10px;
  }
  .home-point1 {
    margin-top: 4px;
  }
  .home-caption2 {
    font-size: 10px;
  }
  .home-point2 {
    margin-top: 4px;
  }
  .home-caption3 {
    font-size: 10px;
  }
  .home-point3 {
    margin-top: 4px;
  }
  .home-caption4 {
    font-size: 10px;
  }
  .home-point4 {
    margin-top: 4px;
  }
  .home-caption5 {
    font-size: 10px;
  }
  .home-point5 {
    margin-top: 4px;
  }
  .home-caption6 {
    font-size: 10px;
  }
  .home-point6 {
    margin-top: 4px;
  }
  .home-caption7 {
    font-size: 10px;
  }
  .home-row1 {
    flex-direction: column;
  }
  .home-image5 {
    width: 100%;
  }
  .home-image6 {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-register1 {
    width: 100%;
  }
  .home-quote {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-schedule {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-title {
    font-size: 30px;
    line-height: 33px;
  }
  .home-caption {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-main1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-time {
    font-size: 10px;
  }
  .home-title01 {
    font-size: 18px;
  }
  .home-icon12 {
    width: 25px;
  }
  .home-details {
    align-items: center;
  }
  .home-name {
    font-size: 10px;
  }
  .home-point {
    max-width: 20px;
    margin-top: 0px;
  }
  .home-caption1 {
    font-size: 10px;
  }
  .home-main2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-time1 {
    font-size: 10px;
  }
  .home-title02 {
    font-size: 18px;
  }
  .home-point1 {
    max-width: 20px;
    margin-top: 0px;
  }
  .home-caption2 {
    font-size: 10px;
  }
  .home-main3 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-time2 {
    font-size: 10px;
  }
  .home-title03 {
    font-size: 18px;
  }
  .home-icon14 {
    width: 25px;
  }
  .home-details02 {
    align-items: center;
  }
  .home-name2 {
    font-size: 10px;
  }
  .home-point2 {
    max-width: 20px;
    margin-top: 0px;
  }
  .home-caption3 {
    font-size: 10px;
  }
  .home-main4 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-time3 {
    font-size: 10px;
  }
  .home-title04 {
    font-size: 18px;
  }
  .home-point3 {
    max-width: 20px;
    margin-top: 0px;
  }
  .home-caption4 {
    font-size: 10px;
  }
  .home-main5 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-time4 {
    font-size: 10px;
  }
  .home-title05 {
    font-size: 18px;
  }
  .home-icon16 {
    width: 25px;
  }
  .home-details04 {
    align-items: center;
  }
  .home-name4 {
    font-size: 10px;
  }
  .home-point4 {
    max-width: 20px;
    margin-top: 0px;
  }
  .home-caption5 {
    font-size: 10px;
  }
  .home-main6 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-time5 {
    font-size: 10px;
  }
  .home-title06 {
    font-size: 18px;
  }
  .home-icon17 {
    width: 25px;
  }
  .home-details05 {
    align-items: center;
  }
  .home-name5 {
    font-size: 10px;
  }
  .home-point5 {
    max-width: 20px;
    margin-top: 0px;
  }
  .home-caption6 {
    font-size: 10px;
  }
  .home-main7 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-time6 {
    font-size: 10px;
  }
  .home-title07 {
    font-size: 18px;
  }
  .home-point6 {
    max-width: 20px;
    margin-top: 0px;
  }
  .home-caption7 {
    font-size: 10px;
  }
  .home-why {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-row {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-item {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-image2 {
    height: 60px;
  }
  .home-details07 {
    gap: var(--dl-space-space-unit);
  }
  .home-title08 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-description {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-item1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-image3 {
    height: 60px;
  }
  .home-details08 {
    gap: var(--dl-space-space-unit);
  }
  .home-title09 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-description1 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-item2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-image4 {
    height: 60px;
  }
  .home-details09 {
    gap: var(--dl-space-space-unit);
  }
  .home-title10 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-text28 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-text29 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-description2 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-black {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-quotes {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-more {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
  .home-element8 {
    align-items: flex-start;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text38 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-content {
    gap: var(--dl-space-space-twounits);
  }
  .home-header {
    font-size: 30px;
    line-height: 36px;
  }
  .home-author {
    width: 100%;
  }
  .home-icon12 {
    display: none;
  }
  .home-button {
    display: none;
  }
  .home-details01 {
    gap: 4px;
    flex-direction: column;
  }
  .home-name1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-point1 {
    width: 100%;
    max-width: 20px;
  }
  .home-button1 {
    display: none;
  }
  .home-author2 {
    width: 100%;
  }
  .home-icon14 {
    display: none;
  }
  .home-button2 {
    display: none;
  }
  .home-details03 {
    gap: 4px;
    flex-direction: column;
  }
  .home-name3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-point3 {
    width: 100%;
    max-width: 20px;
  }
  .home-button3 {
    display: none;
  }
  .home-author4 {
    width: 100%;
  }
  .home-icon16 {
    display: none;
  }
  .home-button4 {
    display: none;
  }
  .home-author5 {
    width: 100%;
  }
  .home-icon17 {
    display: none;
  }
  .home-button5 {
    display: none;
  }
  .home-details06 {
    gap: 4px;
    flex-direction: column;
  }
  .home-name6 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-point6 {
    width: 100%;
    max-width: 20px;
  }
  .home-button6 {
    display: none;
  }
  .home-header2 {
    font-size: 16px;
  }
  .home-description3 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-header3 {
    font-size: 16px;
  }
  .home-description4 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image7 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text38 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
